<section class="mt-16 mb-4 flex justify-center">
    <svg
        width="152"
        height="76"
        viewBox="0 0 152 76"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g filter="url(#filter0_d_108_1351)">
            <rect x="16.8889" y="12" width="118.222" height="44" rx="4" fill="white"></rect>
            <rect
                x="17.3889"
                y="12.5"
                width="117.222"
                height="43"
                rx="3.5"
                stroke="#0070F3"
                stroke-opacity="0.04"></rect>
            <path
                d="M49.607 27L48.287 21.168H49.031L49.759 24.544L50.111 26.248H50.159L51.527 21.168H52.415L53.791 26.256H53.847L54.183 24.544L54.903 21.168H55.647L54.327 27H53.375L51.991 22.016H51.943L50.559 27H49.607ZM57.2745 27V21.168H61.2825V21.768H57.9545V23.736H60.8905V24.296H57.9545V26.392H61.2905V27H57.2745ZM63.2464 27V21.168H65.8624C66.9824 21.168 67.5984 21.768 67.5984 22.664C67.5984 23.28 67.2864 23.808 66.6384 23.968V24C67.3744 24.144 67.7504 24.704 67.7504 25.376C67.7504 26.4 67.0064 27 65.7904 27H63.2464ZM63.9184 23.744H65.8144C66.5424 23.744 66.9184 23.344 66.9184 22.752C66.9184 22.096 66.4464 21.72 65.7184 21.72H63.9184V23.744ZM63.9184 26.448H65.7344C66.6224 26.448 67.0544 25.992 67.0544 25.336C67.0544 24.664 66.6064 24.28 65.8464 24.28H63.9184V26.448ZM71.5439 27.072C70.0079 27.072 69.2959 26.288 69.2719 25.184H69.9839C69.9999 26.008 70.4799 26.52 71.5519 26.52C72.4559 26.52 73.0559 26.192 73.0559 25.496C73.0559 24.736 72.6239 24.504 71.4319 24.304C70.1039 24.064 69.4159 23.704 69.4159 22.712C69.4159 21.728 70.1919 21.104 71.4959 21.104C72.8159 21.104 73.5599 21.776 73.5759 22.792H72.8799C72.8479 22.032 72.3119 21.64 71.4639 21.64C70.6079 21.64 70.1199 22.032 70.1199 22.616C70.1199 23.32 70.5839 23.48 71.7599 23.688C72.8239 23.872 73.7679 24.128 73.7679 25.432C73.7679 26.408 72.9839 27.072 71.5439 27.072ZM75.6901 27V21.168H76.3701V27H75.6901ZM79.8858 27V21.768H77.9978V21.168H82.4698V21.768H80.5738V27H79.8858ZM84.0948 27V21.168H88.1028V21.768H84.7748V23.736H87.7108V24.296H84.7748V26.392H88.1108V27H84.0948ZM92.6948 27V21.168H95.3108C96.4308 21.168 97.0468 21.768 97.0468 22.664C97.0468 23.28 96.7348 23.808 96.0868 23.968V24C96.8228 24.144 97.1988 24.704 97.1988 25.376C97.1988 26.4 96.4548 27 95.2388 27H92.6948ZM93.3668 23.744H95.2628C95.9908 23.744 96.3668 23.344 96.3668 22.752C96.3668 22.096 95.8948 21.72 95.1668 21.72H93.3668V23.744ZM93.3668 26.448H95.1828C96.0708 26.448 96.5028 25.992 96.5028 25.336C96.5028 24.664 96.0548 24.28 95.2948 24.28H93.3668V26.448ZM100.107 27V24.672L97.9469 21.168H98.7229L100.427 24.008H100.467L102.187 21.168H102.955L100.787 24.672V27H100.107Z"
                fill="black"
                fill-opacity="0.8"></path>
            <path
                d="M36.7299 45.3833C34.3437 45.3833 32.8727 44.1833 32.8891 42.3833H35.2426C35.2589 43.2667 35.88 43.65 36.7953 43.65C37.6778 43.65 38.1355 43.3 38.1355 42.7167C38.1355 42.0167 37.6778 41.8667 36.452 41.6833C34.1802 41.3333 33.1015 40.7 33.1015 38.9667C33.1015 37.25 34.5888 36.1167 36.8116 36.1167C38.9527 36.1167 40.3582 37.2333 40.4073 38.95H38.0374C38.0374 38.1833 37.5307 37.8333 36.7462 37.8333C35.9781 37.8333 35.5041 38.1667 35.5041 38.75C35.5041 39.4 36.0434 39.6 37.4163 39.7833C39.5737 40.0667 40.587 40.75 40.587 42.5C40.587 44.35 39.0507 45.3833 36.7299 45.3833Z"
                fill="black"></path>
            <path
                d="M45.1826 45.3667C43.156 45.3667 42.0609 44.1333 42.0609 41.85V36.2833H44.4635V41.2C44.4635 42.6167 44.9375 43.3833 46.1306 43.3833C47.34 43.3833 48.0428 42.4 48.0428 41.2167V36.2833H50.4454V45.2167H48.1409L48.0428 43.5833H47.9284C47.5035 44.75 46.4411 45.3667 45.1826 45.3667Z"
                fill="black"></path>
            <path
                d="M52.4215 48V36.2833H54.7423L54.824 37.8333H54.9548C55.3634 36.8 56.3767 36.1167 57.7333 36.1167C59.8253 36.1167 61.2472 37.6667 61.2472 40.75C61.2472 43.8167 59.8253 45.3833 57.7333 45.3833C56.3767 45.3833 55.3634 44.6833 54.9548 43.6667H54.824V48H52.4215ZM56.8343 43.4C58.0111 43.4 58.7793 42.5667 58.7793 40.75C58.7793 38.9333 58.0111 38.1 56.8343 38.1C55.4778 38.1 54.8567 39.1833 54.8567 40.3167V41.1833C54.8567 42.3167 55.4778 43.4 56.8343 43.4Z"
                fill="black"></path>
            <path
                d="M66.6992 45.3833C63.9697 45.3833 62.4007 43.5667 62.4007 40.8167C62.4007 37.9333 64.0188 36.1167 66.6011 36.1167C69.5757 36.1167 70.9976 38.3 70.7198 41.2833H64.7542C64.7542 42.7667 65.5224 43.5333 66.6992 43.5333C67.5981 43.5333 68.2355 43.0833 68.4153 42.3833H70.6707C70.4583 44.2167 68.8566 45.3833 66.6992 45.3833ZM66.6011 37.95C65.5551 37.95 64.8687 38.6167 64.7706 39.7667H68.3663C68.3172 38.55 67.6144 37.95 66.6011 37.95Z"
                fill="black"></path>
            <path
                d="M72.2928 45.2167V36.2833H74.4665L74.5646 37.7167H74.6463C75.0385 36.5667 75.9538 36.1667 77.0652 36.1667C77.2613 36.1667 77.4084 36.1667 77.5555 36.1667V38.4667C77.4411 38.4667 77.2286 38.4667 77.0162 38.4667C75.3981 38.4667 74.728 39.2167 74.6953 40.55V45.2167H72.2928Z"
                fill="black"></path>
            <path
                d="M81.5665 48C80.4225 48 79.8831 47.2667 79.8831 46.3V42.3333C79.8831 41.5 79.4418 41.0167 78.8534 41.0167H78.4448V39.1833H78.8534C79.4745 39.1833 79.8831 38.6833 79.8831 37.85V33.7C79.8831 32.7333 80.4225 32 81.5665 32H84.3123V33.8667H82.1386V37.9333C82.1386 39.25 81.5502 39.85 80.7657 40V40.05C81.73 40.3667 82.1386 41.1667 82.1386 42.1833V46.15H84.3123V48H81.5665Z"
                fill="#0070F3"></path>
            <path
                d="M88.8102 45.3833C86.424 45.3833 84.9531 44.1833 84.9694 42.3833H87.3229C87.3393 43.2667 87.9603 43.65 88.8756 43.65C89.7582 43.65 90.2158 43.3 90.2158 42.7167C90.2158 42.0167 89.7582 41.8667 88.5324 41.6833C86.2606 41.3333 85.1819 40.7 85.1819 38.9667C85.1819 37.25 86.6692 36.1167 88.8919 36.1167C91.033 36.1167 92.4386 37.2333 92.4876 38.95H90.1177C90.1177 38.1833 89.6111 37.8333 88.8266 37.8333C88.0584 37.8333 87.5844 38.1667 87.5844 38.75C87.5844 39.4 88.1238 39.6 89.4967 39.7833C91.6541 40.0667 92.6674 40.75 92.6674 42.5C92.6674 44.35 91.1311 45.3833 88.8102 45.3833Z"
                fill="black"></path>
            <path
                d="M94.223 35.1333V33.0667H96.6256V35.1333H94.223ZM94.223 45.2167V36.2833H96.6256V45.2167H94.223Z"
                fill="black"></path>
            <path
                d="M101.585 45.2167C99.8035 45.2167 99.3458 44.3833 99.3458 43.0333V38.25H97.7768V36.2833H99.3458V33.85L101.732 33.6167V36.2833H103.497V38.25H101.732V42.5667C101.732 43.1 101.977 43.2333 102.435 43.2333H103.497V45.2167H101.585Z"
                fill="black"></path>
            <path
                d="M108.533 45.3833C105.803 45.3833 104.234 43.5667 104.234 40.8167C104.234 37.9333 105.852 36.1167 108.435 36.1167C111.409 36.1167 112.831 38.3 112.553 41.2833H106.588C106.588 42.7667 107.356 43.5333 108.533 43.5333C109.432 43.5333 110.069 43.0833 110.249 42.3833H112.504C112.292 44.2167 110.69 45.3833 108.533 45.3833ZM108.435 37.95C107.389 37.95 106.702 38.6167 106.604 39.7667H110.2C110.151 38.55 109.448 37.95 108.435 37.95Z"
                fill="black"></path>
            <path
                d="M115.973 32C117.117 32 117.657 32.7333 117.657 33.7V37.6667C117.657 38.5 118.098 38.9833 118.686 38.9833H119.111V40.8167H118.686C118.081 40.8167 117.657 41.3167 117.657 42.15V46.3C117.657 47.2667 117.117 48 115.973 48H113.244V46.1333H115.417V42.0667C115.417 40.75 116.006 40.15 116.79 40V39.95C115.81 39.6333 115.417 38.8333 115.417 37.8167V33.85H113.244V32H115.973Z"
                fill="#0070F3"></path>
        </g>
        <defs>
            <filter
                id="filter0_d_108_1351"
                x="0.888916"
                y="0"
                width="150.222"
                height="76"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
            >
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"></feColorMatrix>
                <feOffset dy="4"></feOffset>
                <feGaussianBlur stdDeviation="8"></feGaussianBlur>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"
                ></feColorMatrix>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_108_1351"
                ></feBlend>
                <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_108_1351"
                    result="shape"></feBlend>
            </filter>
        </defs>
    </svg>
</section>
