---
const { config } = Astro.props;
---

<div
    id="banner"
    tabIndex="-1"
    class="flex justify-between py-3 px-4 w-full bg-gray-50 border border-b border-gray-200 dark:border-gray-700 dark:bg-gray-800"
>
    <div class="flex items-center mx-auto">
        <span
            class="hidden md:inline-flex bg-primary-100 text-primary-800 text-xs font-semibold mr-2 p-1 w-6 h-6 rounded dark:bg-primary-200 dark:text-primary-800"
        >
            <img src={config.banner.icon_image} class="w-4 h-4 mr-1" alt="" />
            <Icon icon={config.banner.icon} />
        </span>
        <div
            dangerouslySetInnerHTML={{ __html: config.banner.content_html }}
            class="[&>p]:text-sm [&>p]:font-light [&>p]:text-gray-500 [&>p>a]:text-primary-400"
        >
        </div>
    </div>
    <button
        data-collapse-toggle="banner"
        aria-label="Close banner"
        type="button"
        class="inline-flex justify-center items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white"
    >
        <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fillRule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clipRule="evenodd"></path>
        </svg>
    </button>
</div>
